<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body>
    <!-- Navbar (sit on top) -->
    <nav class="ps-top">
      <%- include('./partials/navbar') %>
    </nav>

    <!-- Header -->
    <header class="ps-display-container ps-content ps-wide" id="home">
      <%- include('./partials/header') %>
    </header>

    <!-- Page content -->
    <div class="ps-content">
      <!-- Menu Section -->
      <%- include('./partials/menuSection') %> 
      
      <%- include('./partials/footer'); %>
    </div>
  </body>
</html>
